#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.navbar {
  background-color: #fcec84;
  width: 100%;
  color: #f44855
}

body{
  color: #f44855
}

.a {
  color: #f44855;
}

.platforms {
  color: #f44855;
}
.footer {
  color: #f44855
}